[submodule "manager/KernelSU"]
	path = manager/KernelSU
	url = https://github.com/tiann/KernelSU.git
[submodule "manager/KernelSU-Next"]
	path = manager/KernelSU-Next
	url = https://github.com/KernelSU-Next/KernelSU-Next.git
[submodule "manager/KowSU"]
	path = manager/KowSU
	url = https://github.com/KOWX712/KernelSU.git
[submodule "manager/ResukiSU"]
	path = manager/ResukiSU
	url = https://github.com/ReSukiSU/ReSukiSU.git
[submodule "manager/Wild_KSU"]
	path = manager/Wild_KSU
	url = https://github.com/WildKernels/Wild_KSU.git
[submodule "manager/Rissu"]
	path = manager/Rissu
	url = https://github.com/rsuntk/KernelSU.git
